@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;600;700&family=Lexend+Deca&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:ital,opsz,wght@1,9..144,700&family=Hanken+Grotesk:wght@500;600;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
 *::after, *::before, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body {
    background-color: hsl(30, 38%, 92%);
    gap: 1.5rem;
    margin: 3rem;
}

main {
    display: flex;   
    flex-direction: column;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
h1 {
     font-family: 'Fraunces', serif;
    /* font-family: 'Montserrat', sans-serif; */
    padding-top: 1rem;
}

.img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.button {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width:100%;
    height: 50px; 
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    margin-top: 40px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Fraunces', serif;
}
p {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Fraunces', serif; */
    padding-top: 1rem;
}
.text {
    margin: 20px;
    
}
/* .img1 {
    padding-top: 0.6rem;
} */

@media screen and (min-width: 650px) {
    body{
        margin: auto;
        display: flex;
        margin-top: 8rem;

        place-content: center;
        
        
    }
    main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 700px;

        /* max-height: 500px; */
        }
    .img {
        /* min-width: 100%;
        border-top-left-radius: 20px; */
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        min-height: 40vh;
        width: 110%;
    
    }
    p{
        padding-top: 2rem;
    }
    /* .padd {
        padding-top: 1rem;
        position: absolute;
        top: 6rem;
    } */
    .pad1 {
        padding-top: 1rem;
    }

    .text {
        width: 100%;
    }
    .button {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        width:100%;
        height: 50px; 
        border-radius: 10px;
        background-color: hsl(158, 36%, 37%);
        margin-top: 40px;
        color: #ffffff;
        font-size: 20px;
        font-family: 'Fraunces', serif;
    }  
    .text {
        margin-bottom: 10px;
        width: 100%;
    }
}